
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common styles or utilities */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
/* navigation */
header{
    background-color: #2d25a0;
    padding: 42px 156px;
}
nav{
    display: flex;
    justify-content: space-between; 
}
nav a{
   color: #FFFFFF;
   text-decoration: none;
   padding-left: 36px;
   font-size: 16px;
   font-weight: 500;
}
#laptop-none{
    display: none;
}
.watch-now{
    text-decoration: none;
    color: #FFFFFF;
    background-color: #E02C6D;
    font-size: 16px;
    padding: 10px 15px;
    transition: 0.5s;
}
.watch-now:hover{
    background-color: #e21761;
    font-size: 18px;
    padding: 12px 17px;
}

.fa-sign-in-alt, .fa-arrow-right{
    margin-right: 10px;
    margin-left: 10px;
}

nav a:nth-child(1){
    padding-left: 0px;
}
.Conmebol{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.conmebol-live{
    width: 485px;
    margin-right: 50px;
}
.conmebol-live h1{
    font-size: 64px;
    color: #FFFFFF;
    font-weight: bold;
}
/* main section */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 1050px;
    margin-top: 50px;

}
/* --------------------------players
------------------------------------------------------ */

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
}
.player{
    Width: 300px;
    Height: 474px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgb(201, 191, 191);
}
.player h1{
    color: #18191F;
    font-size: 28px;
}
.player p{
    color: #6C6C6C;
    font-size: 16px;
}


/* -----------------------
Copa America 2021
------------------------------ */
.copa-america-2021{
    display: flex;
    justify-content: space-between;
}
.copa-america{
    width: 469px;
}
.copa-america h1{
    font-size: 48px;
    font-weight: bold;
    color: #0A0826;
}
.copa-america p{
   font-size: 16px;
   color: #6C6C6C;
}

.copa-america-pic{
    Width: 567px;
    Height:427px;
}
           /* ----------------------
                        footer
           ---------------------------- */
footer{
    text-align: center;
    margin-top: 100px;
}
footer i{
    color:#969BAB;
    background-color: rgba(11, 13, 23, 0.1);
    font-size: 17px;
    padding: 7px;
    border-radius: 50%;
}
footer p{
    font-size: 18px;
    color: #000;
}



/* Tablet devices */
@media only screen and (min-width: 768px) and (max-width: 992px){
    .players{
        grid-template-columns: repeat(2, 1fr);
        }
        header {
            padding: 0px 0px;
        }
        nav {
            padding: 15px;
        }
        .conmebol-live {
            width: 485px;
            margin-right: 50px;
            padding-left: 16px;
        }
        .conmebol-live h1 {
            font-size: 31px;
        }
        .conmebol-logo img{
            width: 500px;
            height: 400px;
        }

        .copa-america-pic {
            Width: 487px;
            Height: 372px;
        }
        .copa-america-pic img{
            Width: 500px;
            Height: 400px;
           
        }

        .container {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .copa-america {
            width: 330px;
            padding: 7px;
        }
        .copa-america h1 {
            font-size: 30px;
        }
        .copa-america-pic {
            Width: 463px;
            Height: 365px;
        }
        .copa-america-pic img {
            Width: 464px;
            Height: 362px;
        }

        footer {
            margin-top: 30px;
        }
    
    }


/* ------------
For mobile phones:
----------------------*/
@media only screen and (max-width: 767px) {
    
        /* navigation */
        .watch-now{
            padding: 7px 10px;
        }
    header{
        padding:20px;
    }

    .container{
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        
    
    }
    .display-none{
        display: none;
    }
    #laptop-none{
        display: block;
        color: white;
    }
    .Conmebol{
        display: flex;
        flex-direction: column;
    }
   .conmebol-logo img{
       width: 329px;
       height: 259px;
   }
    .conmebol-live{
        width: 278px;
        margin-right: 0px;
        margin-bottom: 40px;
    }
    
    .conmebol-live h1{
        font-size: 36px;
    }
    /* --------------------------players
------------------------------------------------------ */
    .players{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
        grid-column-gap: 0px;
        }

        .player{
            Width: 300px;
            Height: 474px;
            padding: 10px;
        }
        .player img{
            width: 300px;
            height: 256px;
        }
     

                /* -----------------------
        Copa America 2021
        ------------------------------ */
        .copa-america-2021{
            display: flex;
            flex-direction: column;
            width: 91%;
        }
       
        .copa-america{
            width: 100%;
            padding: 10px;
        }
        .copa-america h1{
            font-size: 30px;
        }

        .copa-america-pic{
            Width: 100%;
            Height: 248px;
           padding-top: 20px;
           display: flex;
            justify-content: center;
        }
 
        .copa-america-pic img{
            Width: 328px;
            Height: 248px;
        }

                  /* ----------------------
                        footer
           ---------------------------- */
        footer{
            text-align: center;
            margin-top: 50px;
        }
        footer img{
            width: 250px;
            height: 63px;
        }
  }